body {
	background-color: #cccc !important;
	margin: 0px !important;
	font-size: 12 !important;
}

h1, h2, h3, h4 ,h5 ,h6 {
	margin-top: 10px !important;
}

th {
	color: #454148;
}

td {
	color: #090e0e;
}

input[type="radio"] {
	display: inline-block !important;
}

input[type="text"].address {
	width: 500px;
}

input[type="text"].contact {
	width: 250px;
}

table a {
	text-decoration: none;
	color: #1f73a7 !important;
}


table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

table a:hover, table a:focus {
	text-decoration: none;
	color: #ddd !important;
}

#banner {
	background: url("../images/banner.jpg");
    background-size: 100%;
	background-repeat: no-repeat;
	background-position: center bottom;
	margin-left: -50;
	margin-right: -50;
	padding-left: 60;
	padding-right: 60;
}

#mainPage {
/* 	#24292F */
	background-color: #2B3842;
	min-height: 420px;
	padding: 0px;
	margin: 0px;
	align-items: center;
	font: Verdana, Helvetica, sans-serif;
	color: #FFFFFF;
}

#mainPage #banner {
	margin-left: 0;
	margin-right: 0;
}

#filter {
	margin-left: 50px;
}

#marquee {
	background-color: #1E2329;
	height: 25px;
	padding: 0px;
	margin: 0px;
	align-items: center;
	font: Verdana, Helvetica, sans-serif;
	color: #ddd;
	font-size: 16px;
	overflow: hidden;
}

.left-panel {
	text-align: left;
}

.right-panel {
	text-align: right;
}

.center {
	text-align: center;
}

.hide {
	display: none;
}

.full {
	width: 100%;
}

.x-scroll {
	overflow-x: scroll;
}

.action {
	min-width: 150px;
}

.navibar {
	display: inline-block;
	padding: 0px;
	font-size: 14 !important;
}

.bold {
	font-weight: bold;
}

.navibar li {
	display: inline-block;
	padding-left: 20px;
	padding-right: 30px;
	padding-top: 30px;
}

.header-button {
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
}

.modal-header, .modal-body, .modal-footer {
	background-color: #fcfcfd;
	border-color: #2e3842 !important;
}

.modal-dialog {
	height: 60% !important;
	padding-top:10%;
}

.modal-content {
	height: 100% !important;
	background: none !important;
	border: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.modal-body {
/* 	height: 80%; */
}

.modal-header {
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

.modal-footer {
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

#modal, #modal a, #modal a:visited, #modal a:active {
	text-decoration: none;
	color: #778a9b;
	font-weight: bold;
}

#modal a:hover {
	color: #ddd !important;
}

.login-input-box {
	background-color: #38464f !important;
	border-color: #38464f !important;
	border-radius: 10px !important;
	font-weight: bold;
	text-align: center !important;
	color: #ddd !important;
}

.login-button {
	background-color: #1dbba2 !important;
	border-color: #1dbba2 !important;
	border-radius: 10px !important;
	height: 50px !important;
	font-weight: bold;
	color: #ddd !important;
}

.submit-button {
	background-color: #262b31 !important;
	border-color: #262b31 !important;
	border-radius: 10px !important;
	font-weight: bold;
	width: 200px !important;
	color: #1dbba2 !important;
}

.option-button {
	background-color: #3a4a57 !important;
	border-radius: 5px !important;
	width: 100px !important;
	margin-right: 10px !important;
	color: #ddd;
}

.option-button:hover, .option-button:focus, .option-button.focus {
	background-color: #334350 !important;
	color: #ddd !important;
}

.signup-link a, .signup-link a:hover, .signup-link a:active {
	text-decoration: none;
	color: #147f79 !important;
}

#signup-link a, #signup-link a:hover, #signup-link a:active {
	text-decoration: none;
	color: #147f79 !important;
}

.title {
	color: #1dbba2;
	font-weight: bold;
}

.title2 {
	color: #fff;
	font-weight: bold;
}

.normalText {
	color: #abb;
}

.margin-top-0 {
	margin-top: 0px !important;
}

.contact-us-clear-button {
	background-color: #3a4a57;
	border-radius: 5px !important;
	width: 100px !important;
	margin-right: 10px !important;
}

.contact-us-send-button {
	background-color: #00b0df;
	border-radius: 5px !important;
	width: 100px !important;
}

.contact-us-input {
	background-color: #c0cad3 !important;
	font-weight: bold;
}

.input {
	background-color: #2e3842  !important;
	color: #ddd !important;
	border-color: #2e3842  !important;
	
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus, .pagination > li > .active {
	background-color: #1e2832  !important;
	color: #ddd !important;
	font-weight: bold;
}

.ui-selectmenu a:focus {
	outline: none !important;
}

.ui-selectmenu-menu-dropdown {
	background-color: #38464f !important;
	width: 468px !important;
}

.ui-selectmenu-menu-dropdown a, .ui-selectmenu-menu-dropdown a:active, .ui-selectmenu-menu-dropdown a:visited {
	color: #ddd !important;
	text-decoration: none;
} 

.ui-selectmenu-menu-dropdown a:hover {
	color: #fff !important;
	text-decoration: none;
}

.ui-selectmenu-open {
	left: 712px !important;
}

#selectContainer span {
	padding: 4px 12px 6px 3px;
}

#selectContainer a, #selectContainer a:hover, #selectContainer a:active, #selectContainer a:visited {
	text-decoration: none;
	color: #999;
}

#modalHeader {
	padding-bottom: 5px;
	padding-left: 20px;
	font-size: 30px;
}

#errorMessage {
	color: #ddd !important;
}

#header-right-panel h5 {
	margin: 0px;
	margin-top: 3px !important;
	font-weight: bold;
}

#right-panel-username {
/* 	color: #147f79 !important; */
	color: #02C2EF !important;
	padding-left: 10px;
}

.dropdown > ul > li > a, .dropdown-submenu > ul > li > a {
	color: #999 !important;
}

.dropdown-menu li {
	padding: 0px;
}

.dropdown-menu > li > a:hover {
	background-color: transparent !important;
	color: #ddd !important;
}

.dropdown-menu {
	background-color: #24292F !important;
}

.dropdown-submenu {
	width: 100%;
}

#map-canvas {
	height: 400px;
    background-color: #CCC;
}

/* multi-level dropdown */


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.dealingBoxTable > thead > tr {
	background-color: #24292F;
}

.dealingBoxTable > thead > tr > th {
	border-bottom: 0px !important;
	border-right: 2px solid #ddd !important;
}

.dealingBoxTable > thead:first-child > tr:first-child > th:last-child {
	border-right: 0px !important;
}

/* table > thead > tr { */
/* 	background-color: #24292F; */
/* } */

/* table > thead > tr > th { */
/* 	border-bottom: 0px !important; */
/* 	border-right: 2px solid #ddd !important; */
/* } */

/* table > thead:first-child > tr:first-child > th:last-child { */
/* 	border-right: 0px !important; */
/* } */

.row1 {
	height: 50px;
	border: 1px solid #222;
	padding-top: 7px;
	padding-right: 30px !important;
}

.row2 {
	height: 40px;
	border: 1px solid #222;
	border-top: none;
}

.historics-company-name {
	background-color: #3B4852;
	padding-top: 15px;
	height: 50px;
	border: 1px solid #222;
}

.historics-datetime {
	background-color: #3B4852;
	padding-top: 10px;
	height: 40px;
	border: 1px solid #222;
	border-top: 0px;
}

.border {
	border: 1px solid #222;
}

.no-padding {
	padding: 0px !important;
}

.fail {
	background-color: #f2dede;
}

.success {
	background-color: #dff0d8;
}

#fieldTable, #creditRatio0, #creditRatio1, #creditRatio2 {
	margin-bottom: 0px;
}

#tableDiv0, #tableDiv1, #tableDiv2 {
	border-right: 1px solid #222;
	border-left: 1px solid #222;
}

#fieldTable > tbody > tr > td, #creditRatio0 > tbody > tr > td, #creditRatio1 > tbody > tr > td, #creditRatio2 > tbody > tr > td, #dateTimeTable > tbody > tr > td {
	border: none;
	font-size: 12px !important;
	height: 50px !important;
	vertical-align: middle;
    word-wrap: break-word;
}

#tablesDiv {
	border: none;
	border-bottom: 1px solid #222;
}

#tablesDiv > div > table > tbody > tr > td, #dateTimeTable > tbody > tr > td {
	border-right: 1px solid #46535C;
}

#tablesDiv > div > table > tbody > tr > td:last-child, #dateTimeTable > tbody > tr > td:last-child {
	border-right: none;
}

#fieldsDiv {
	border-top: none;
}

#marketTableTBody > tr > td {
	padding-top: 2px;
	padding-bottom: 2px;
}

.firstData {
	background-color: #36434C;
}

.expandBtn, .more {
	cursor: pointer;
}

.more:focus {
outline: none;
}

.expandBtn:hover, .expandBtn:active {
	color: #cdd;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #dcdfe0;
   font-size: small !important;
}

.expand {
	position: relative;
	float: right;
	right: -30px;
	top: -41px;
	background-color: #36434C;
	border: none;
	height: 48px;
	width: 20px;
}

.bold {
	font-weight: bold;
}

.font12 {
	font-size: 10px !important;
}

.popover-content {
	min-width: 157px;
	background-color: #46535C;
}

.popover {
	background-color: #46535C !important;
}

.datepicker thead tr:first-child th:hover, .datepicker table tr td.day:hover {
	background-color: #2B3842;
}

/* date-picker start */
.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active[disabled], .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active.disabled:hover[disabled] {
	background-image: none;
	background-color: transparent;
	color: MediumSeaGreen ;
	font-weight: bold;
}

/* date-picker range */
.datepicker table tr td.range, .datepicker table tr td.range:hover, .datepicker table tr td.range.disabled, .datepicker table tr td.range.disabled:hover {
	background-color: transparent;
	color: #1dbba2;
	color: LightSkyBlue;
}

/* date-picker end */
.datepicker table tr td.selected, .datepicker table tr td.selected:hover, .datepicker table tr td.selected.disabled, .datepicker table tr td.selected.disabled:hover {
	background-image: none;
	background-color: transparent !important;
	color: lightcoral;
	font-weight: bold;
}

.input-sm {
	font-weight: bold;
	border: 1px solid #24292F !important;
}

.tableTitle {
/* 	background-color: #36434C; */
	left: -15px;
    background: -webkit-linear-gradient(#36434C, #2B3842); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#36434C, #2B3842); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#36434C, #2B3842); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#36434C, #2B3842); /* Standard syntax (must be last) */
}

ul.pagination li a {
	background-color: #2e3842;
	color: #ddd;
}

.perPage {
	background-color: #2e3842 !important;
	color: #ddd !important;
}

.trBG {
	background-color: #343E48;
}

#input-group-addon {
	background-color: #24292F;
	color: #ddd;
	border: 1px solid #24292F;
}

#tables table > tbody > tr > td {
	border-bottom: 1px solid #313D47;
	border-top: none !important;
	vertical-align: middle;
}

#tables table > tbody > tr:last-child > td {
	border-bottom :none;
}

#alert {
	position: fixed;
	top: 0px;
	height: 30px;
	padding-top: 10px;
	font-weight: bold;
	text-align: center;
}

#paypal-button {
	height: 35px;
}

#newFilterFieldRow, #newGroupRow, #newFilterRow, #listFiltersDiv, #newClientFirmRow, #newIssuerRow, #newClientRow, #listOrdersDiv {
	visibilitity: hidden;
}

.blue{
	color: blue !important;
}

/* MARY */

.forUpdateRow{
	 display:none; 
}