@CHARSET "ISO-8859-1";

h1{
	text-align: center;
}

h2{
	margin-left: 15%;
}
table{
	margin-left: 15%;
	margin-right: 15%;
	border-spacing: 5px;
	width: 70%;
}

td{
	padding:5px;
}

input, button, select{
	width: 100%;
}

.button{
	width: 100px;
}


.checkboxes label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}
.checkboxes input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

.title{
	text-align:right;
	font-weight:bold;
}

#buyId{
	margin-left: 25%;
	margin-right: 25%;
	width:50%;
}